/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,300&family=Poppins:wght@200&display=swap');
html{
    font-size: 62.5%;     /*16px    * 62.5% = 1.000*/
    scroll-behavior: smooth;   /* animer les lien  ajouter */
    background: #000 url(../asset/Batman.jpg)no-repeat fixed center center / cover ;

}
body{
    font: 1.6rem "Poppins", sans-serif;
    margin: 0;
    line-height: 1.6rem;
    text-rendering:optimizeLegibility
}
h1,h2,h3,h4,h4,h6,p,ul{          /* reset titre */
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    list-style: none;
    text-decoration:none;     /* enlever les deco des liens*/
}
h1,h2,h3,h4,h5,h6,p{
    font-weight: 200;
    font-family: 'Comic Neue', cursive;

}
img{                               /* centrer l'image */
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-radius: 2rem;
}
*{
    box-sizing:  border-box;       /*  ajuster la taille   */
}

/*
théme
la palette couleur 
typo
*/

:root{
    --bgc-primary: #d3d2d6;
    --bgc-secondary: #222;
    --bgc-last: #3d3838;
    --color-text: #fff;
}
nav h2 ul, main, footer{
    max-width: 120rem;
    margin: 1rem auto;
    background-color: rgba(250,250,250,0.8);
    overflow: hidden;
    border-radius: 2rem;
    
}
header h1{
    line-height: 5.0rem;
    text-align: center;
    color: var(--bgc-primary);
    background-color: var(--bgc-secondary);
    padding-top: 1.5rem;

    
}
header h1::before{ /* icone en css */
    content: url(../asset/gitlab.svg);
    vertical-align: -2rem;
    margin-right: 2rem;
   
 }

ul li {
    width: calc(100% /4 - 1rem);     /* Reduire la taille image */
    display: block;
    float: right;
    margin: 2rem 1rem 1rem 0;
    font-size: 2.5rem;
    color: red;
    font-weight: 800;     /*gras*/
   
}
section p{
    border: #222 0.1rem solid;
    padding: 2rem;

}
 section h2{
    line-height: 6.0rem;
    padding-left: 1rem;
    background-color: var(--bgc-primary);
    cursor: pointer;
}
main {
    max-width: 120rem;
    margin: 5rem auto;
    padding: 1rem;
    background-color: var(--bgc-primary);
    border-radius: 2rem;      /*arrondi*/
    overflow: hidden;         /*bordure de page blanche*/

}
 
section ul{
    overflow: hidden;          /* permet de creer un masque */
    padding: 1rem 0 0 1rem;    /* permet de creer un espacement ente les image */

}
section ul li{
    width: calc(100% /4 - 1rem);
    display: block;
    float: left;
    margin: 0 1rem 1rem 0;
}
section ul li:nth-of-type(5), section ul li:nth-of-type(6){
    width: calc(100% / 2 - 1rem);
}
/*/header,nav,main,footer{
    max-width: 120rem;
    margin: 0 auto;
    background-color: rgba(255,255,255,0,8); */

footer p{
    text-align: center;
    color: #fff
}